---
import Title from "@/components/core/Title.astro";

import img from "@/assets/projects/piano.png";
import onleave from "@/assets/projects/onleave.png";
import Project from "./Project.astro";
import DarkCard from "../core/DarkCard.astro";

const projects = [
  {
    name: "The Piano",
    img,
    desc: "A minimalistic and light-weight MIDI piano for the WEB.",
    link: "https://thepiano.vercel.app",
  },
  {
    name: "OnLeave",
    img: onleave,
    desc: "A leave management app to manage the Org Employee's leaves.",
    link: "https://www.onleave.today",
  },
];
---

<section id="projects">
  <Title
    name="Projects"
    desc="Have a look at some of my recent works, where I have applied my skillset to the extreme level to deliver high quality frontend experience."
  />
  <div class="projects-container">
    {
      projects.map((proj) => (
        <Project
          name={proj.name}
          img={proj.img}
          desc={proj.desc}
          link={proj.link}
        />
      ))
    }
    <DarkCard>
      <div class="more-projects">
        <h3>Find more of my work!</h3>
        <p>
          This will take you to my GitHub Repository, where you will find my
          above projects as well as a lot of small scale projects made using
          different technologies.
        </p>
        <button>
          <a
            href="https://github.com/saurabhsutar192?tab=repositories"
            target="_blank"
          >
            Checkout Repository
          </a>
        </button>
      </div>
    </DarkCard>
  </div>
</section>
<style lang="scss">
  @use "@/styles/abstract" as *;

  #projects {
    margin: 10rem 0;

    .projects-container {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
      .more-projects {
        padding: 4rem;
        text-align: center;

        h3 {
          font-size: 4rem;
          margin-bottom: 2rem;
          @include responsive(smartphone-landscape) {
            font-size: 2.5rem;
          }
        }
        p {
          line-height: 1.5rem;
          margin-bottom: 4rem;

          @include responsive(smartphone-landscape) {
            font-size: 0.7rem;
          }
        }

        button {
          border: none;
          background: none;

          a {
            display: block;
            border: 2px solid $light-bg;
            padding: 1rem 2rem;
            color: $light-bg;
            font-size: 1.5rem;
            border-radius: 100px;
            transition: 0.3s ease-out;

            @include responsive(smartphone-landscape) {
              font-size: 0.8rem;
            }

            &:hover {
              scale: 1.1;
            }
          }
        }
      }
    }
  }
</style>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/src/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const projectsAnim = gsap.timeline({
    scrollTrigger: {
      trigger: "#projects",
      //   markers: true,
      start: "top 70%",
      end: "bottom bottom",
      scrub: 1,
      once: true,
    },
  });

  projectsAnim
    .from("#projects .title", {
      opacity: 0,
      y: -30,
      duration: 1,
      ease: "power4.out",
    })
    .from(
      "#projects .project-card",
      {
        y: 30,
        stagger: 0.3,
        opacity: 0,
      },
      "<"
    )
    .from("#projects .dark-card", {
      x: -200,
      opacity: 0,
      ease: "power4.in",
    });
</script>
