---
import Title from "@/components/core/Title.astro";

import img from "@/assets/projects/piano.png";
import onleave from "@/assets/projects/onleave.png";
import Project from "./Project.astro";
import DarkCard from "../core/DarkCard.astro";

const projects = [
  {
    name: "The Piano",
    img,
    desc: "A minimalistic and light-weight MIDI piano for the WEB.",
    link: "https://thepiano.vercel.app",
  },
  {
    name: "OnLeave",
    img: onleave,
    desc: "A leave management app to manage the Org Employee's leaves.",
    link: "https://www.onleave.today",
  },
];
---

<section id="projects">
  <Title
    name="Projects"
    desc="Have a look at some of my recent works, where I have applied my skillset to the extreme level to deliver high quality frontend experience."
  />
  <DarkCard>
    <div class="projects-container">
      {
        projects.map((proj) => (
          <Project
            name={proj.name}
            img={proj.img}
            desc={proj.desc}
            link={proj.link}
          />
        ))
      }

      <div class="more-projects">
        <h3>Find more of my work!</h3>
        <p>
          This will take you to my GitHub Repository, where you will find my
          above projects as well as a lot of small scale projects made using
          different technologies.
        </p>
        <button>
          <a
            href="https://github.com/saurabhsutar192?tab=repositories"
            target="_blank"
          >
            Checkout Repository
          </a>
        </button>
      </div>
    </div>
  </DarkCard>
</section>
<style lang="scss">
  @use "@/styles/abstract" as *;

  #projects {
    margin: 10rem 0;

    .projects-container {
      padding: 3rem;
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
      justify-content: center;
      .more-projects {
        padding: 4rem 2rem;
        text-align: center;
        background-image: linear-gradient(
          to right,
          $light-bg 70%,
          rgba(255, 255, 255, 0) 0%
        );
        background-position: top;
        background-size: 30px 2px;
        background-repeat: repeat-x;

        h3 {
          font-size: 4rem;
          margin-bottom: 2rem;
          @include responsive(smartphone-landscape) {
            font-size: 2.5rem;
          }
        }
        p {
          line-height: 1.5rem;
          margin-bottom: 4rem;

          @include responsive(smartphone-landscape) {
            font-size: 0.7rem;
          }
        }

        button {
          background: none;
          border: 2px solid $light-bg;
          padding: 1rem 2rem;
          border-radius: 1rem;
          a {
            display: block;
            color: $light-bg;
            font-size: 1.5rem;
            @include responsive(smartphone-landscape) {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
</style>

<script>
  import { parallaxAnimation } from "@/utils/animations";
  import gsap from "gsap";
  import ScrollTrigger from "gsap/src/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const projectsAnim = gsap.timeline({
    scrollTrigger: {
      trigger: "#projects",
      // markers: true,
      start: "top 70%",
      end: "bottom bottom",
      scrub: 1,
      once: true,
    },
  });

  projectsAnim
    .from("#projects .title", {
      opacity: 0,
      y: -30,
      duration: 1,
      ease: "power4.out",
    })
    .from(
      "#projects .dark-card",
      {
        y: 50,
        opacity: 0,
        ease: "power4.in",
      },
      "<"
    )
    .from(
      "#projects .project-card",
      {
        y: 50,
        opacity: 0,
        ease: "power4.out",
      },
      "<"
    )
    .from(
      "#projects .more-projects",
      {
        y: 50,
        opacity: 0,
        ease: "power4.out",
      },
      "<0.5"
    );

  const button = document.querySelector(
    ".more-projects button"
  ) as HTMLButtonElement;

  const a = button.querySelector("a") as HTMLAnchorElement;

  parallaxAnimation({
    child: a,
    container: button,
    movement: 5,
    parallaxMultiplier: 0.5,
    scale: 1.1,
  });
</script>
