---
interface Props {
  name: string;
  desc: string;
}

const { name, desc } = Astro.props;
---

<div class="title">
  <h4>{name}</h4>
  {desc && <p>{desc}</p>}
</div>

<style lang="scss">
  .title {
    font-family: "Poppins", serif;
    margin-bottom: 2rem;
    text-align: center;
    padding: 1rem 0;
    h4 {
      font-size: 3rem;
      margin-bottom: 1rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    p {
      margin: 0 auto;
      width: 70%;
      font-size: 0.8rem;
      line-height: 1.2rem;
    }
  }
</style>
