---
import Navbar from "./Navbar.astro";
import { Image } from "astro:assets";
import myImage from "@/assets/saurabh.png";
import bgImage from "@/assets/plant.svg";
import { IconChevronCompactDown } from "@tabler/icons-react";
---

<div class="container">
  <Navbar />
  <main>
    <div class="section-container">
      <Image class="bg-img" src={bgImage} alt="background" />
      <div class="main-img-container anim">
        <Image class="main-img" src={myImage} alt="Saurabh" />
        <div class="gradient-block"></div>
      </div>
      <div class="hey-there anim">
        <h4 class="hey">Hey,</h4>
        <h4 class="there">there<span>!</span></h4>
      </div>
      <div class="name anim">
        <h4 class="im">I,m</h4>
        <h4 class="">Saurabh</h4>
      </div>
    </div>
    <div class="role anim">
      <h4>Frontend</h4>
      <h4>Developer</h4>
    </div>
  </main>
  <div class="down-arrow">
    <IconChevronCompactDown />
  </div>
</div>

<style lang="scss">
  @use "@/styles/abstract" as *;

  .container {
    main {
      height: calc(100% - 150px);
      align-items: center;
      position: relative;
      z-index: 0;

      .section-container {
        padding: 0 50px 0;
        position: relative;

        @include responsive(smartphone-portrait) {
          padding: 0 20px 0;
        }

        .hey-there {
          position: absolute;
          left: 0;
          width: 100%;
          top: 0;
          z-index: 0;
          & > h4 {
            font-family: "Great Vibes", serif;
            font-size: 10rem;
            font-weight: 300;
            position: absolute;
            top: 6rem;
            z-index: 0;
            color: $light-text;
            @include responsive(tablet) {
              font-size: 7rem;
              top: 8rem;
            }
            @include responsive(smartphone-landscape) {
              font-size: 6rem;
              top: 7rem;
            }
            @include responsive(smartphone-portrait) {
              top: 8rem;
            }
            @include responsive(520px) {
              font-size: max(15vw, 56px);
            }
          }
          .hey {
            right: 58%;
            @include responsive(tablet) {
              right: 61%;
            }
            @include responsive(smartphone-portrait) {
              right: 63%;
            }
          }
          .there {
            left: 58%;
            white-space: nowrap;

            @include responsive(tablet) {
              left: 61%;
            }
            @include responsive(smartphone-portrait) {
              left: 63%;
            }
            span {
              color: $primary-accent;
            }
          }
        }

        .bg-img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
          z-index: -1;
          transform-origin: top center;
        }

        .main-img-container {
          position: relative;
          z-index: 1;
          .main-img {
            height: 35rem;
            min-width: 180px;
            width: 100%;
            object-fit: contain;

            @include responsive(smartphone-landscape) {
              height: 30rem;
            }
          }

          .gradient-block {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 2;
            background: rgb(255, 252, 242);
            background: linear-gradient(
              0deg,
              rgba(255, 252, 242, 1) 40%,
              rgba(255, 255, 255, 0) 100%
            );
            height: 9rem;
          }
        }
      }
      .name {
        font-family: "Playfair Display", serif;
        position: absolute;
        font-size: 7.5rem;
        line-height: 7.5rem;
        bottom: 0;
        left: 0;
        z-index: 3;
        h4 {
          font-weight: 800;
        }

        @include responsive(laptop) {
          font-size: 7rem;
          line-height: 7rem;
        }

        @include responsive(smartphone-portrait) {
          font-size: 5rem;
          line-height: 5rem;
        }
        .im {
          font-size: 4rem;
          line-height: 4rem;
          @include responsive(laptop) {
            font-size: 3.5rem;
            line-height: 3.5rem;
          }
          @include responsive(smartphone-portrait) {
            font-size: 3rem;
            line-height: 3rem;
          }
        }
      }
      .role {
        position: absolute;
        right: 0;
        bottom: 7px;
        font-size: 3.2rem;
        line-height: 3.2rem;
        z-index: 3;
        @include responsive(laptop) {
          font-size: 2.8rem;
          line-height: 2.8rem;
        }

        @include responsive(tablet) {
          position: static;
          display: flex;
          gap: 0.5rem;
          margin-top: 0.5rem;
        }

        @include responsive(smartphone-landscape) {
          font-size: 2rem;
        }
        h4 {
          font-weight: 300;
        }
      }
    }
    .down-arrow {
      padding-top: 2rem;
      display: flex;
      justify-content: center;
      cursor: pointer;
    }
  }
</style>
<script>
  import gsap from "gsap";
  import ScrollToPlugin from "gsap/dist/ScrollToPlugin";

  const images = document.querySelectorAll(
    "img"
  ) as NodeListOf<HTMLImageElement>;
  const layout = document.querySelector(".container");
  const loader = document.querySelector(".loader");
  const downArrow = document.querySelector(".down-arrow svg");

  gsap.registerPlugin(ScrollToPlugin);

  let loaded = 0;

  const checkLoadedImages = () => {
    loaded++;

    if (loaded === images.length) {
      animateIntro();
    }
  };

  const animateIntro = () => {
    loader?.classList.add("hidden");
    layout?.classList.remove("loading");

    const introAnim = gsap.timeline({ delay: 0.2 });

    introAnim
      .from("nav", {
        opacity: 0,
        y: -10,
        duration: 0.5,
      })
      .from(
        ".bg-img",
        {
          rotate: 10,
          opacity: 0,
          duration: 1,
          ease: "circ.out",
        },
        "<"
      )
      .from(
        ".anim",
        {
          opacity: 0,
          y: 50,
          ease: "circ.out",
          duration: 1,
          stagger: 0.3,
        },
        "<0.1"
      )
      .fromTo(
        ".down-arrow svg",
        {
          opacity: 0,
        },
        { opacity: 1 }
      )
      .from(
        ".down-arrow svg",
        {
          y: 10,
          repeat: -1,
          yoyo: true,
        },
        "<"
      );
  };

  images.forEach((img) => {
    if (img?.complete) {
      checkLoadedImages();
    } else {
      img.addEventListener("load", checkLoadedImages);
    }
  });

  downArrow?.addEventListener("click", () => {
    gsap.to(window, { duration: 1, scrollTo: "#skills" });
  });
</script>
