<ul class="nav-list">
  <li>
    <button data-target="#projects"> Projects </button>
  </li>
  <li>
    <button data-target="#skills"> Skills & Exp </button>
  </li>
  <li>
    <button data-target="#about"> About Me</button>
  </li>
  <li>
    <button data-target="#contact" class="contact-btn"> Contact </button>
  </li>
</ul>

<script>
  import gsap from "gsap";
  import ScrollToPlugin from "gsap/dist/ScrollToPlugin";

  gsap.registerPlugin(ScrollToPlugin);

  const navButtons = document.querySelectorAll(
    ".nav-list li button"
  ) as NodeListOf<HTMLButtonElement>;

  navButtons.forEach((button) => {
    button.addEventListener("click", (e) => {
      const section = (e.target as HTMLButtonElement)?.getAttribute(
        "data-target"
      );

      section && gsap.to(window, { duration: 1, scrollTo: section });
    });
  });
</script>
