---
import htmlImg from "@/assets/icons/Html.jpg";
import CSSImg from "@/assets/icons/CSS.png";
import FigmaImg from "@/assets/icons/Figma.png";
import AstroImg from "@/assets/icons/Astro.png";
import JavascriptImg from "@/assets/icons/JavaScript.png";
import NextJsImg from "@/assets/icons/NextJs.png";
import ReactJsImg from "@/assets/icons/ReactJs.png";
import StripeImg from "@/assets/icons/Stripe.png";
import TypescriptImg from "@/assets/icons/typescript.png";
import NodeImg from "@/assets/icons/Node.png";
import githubImg from "@/assets/icons/github.png";
import ViteImg from "@/assets/icons/Vite.png";
import JestImg from "@/assets/icons/Jest.png";
import CypressImg from "@/assets/icons/Cypress.png";
import ReduxImg from "@/assets/icons/Redux.png";
import MJMLImg from "@/assets/icons/MJML.png";
import GSAPImg from "@/assets/icons/GSAP.png";
import SASSImg from "@/assets/icons/SASS.png";

import Skill from "./Skill.astro";
import Title from "@/components/core/Title.astro";
import DarkCard from "../core/DarkCard.astro";

const skillsData = [
  { name: "HTML", img: htmlImg },
  { name: "CSS", img: CSSImg },
  { name: "JavaScript", img: JavascriptImg },
  { name: "TypeScript", img: TypescriptImg },
  { name: "ReactJs", img: ReactJsImg },
  { name: "NextJs", img: NextJsImg },
  { name: "Astro", img: AstroImg },
  { name: "NodeJs", img: NodeImg },
  { name: "Github", img: githubImg },
  { name: "MJML", img: MJMLImg },
  { name: "Redux", img: ReduxImg },
  { name: "Vitest", img: ViteImg },
  { name: "Jest", img: JestImg },
  { name: "Cypress", img: CypressImg },
  { name: "Stripe", img: StripeImg },
  { name: "GSAP", img: GSAPImg },
  { name: "SASS", img: SASSImg },
  { name: "Figma", img: FigmaImg },
];

const currentYear = new Date().getFullYear();
const currentMonth = new Date().getMonth() + 1;
const experience = currentYear - 2021 - (currentMonth < 6 ? 1 : 0);
---

<section id="skills" class="skills-container">
  <Title
    name="Skills & Experience"
    desc="Here’s a list of skills I’m proficient in, and I’m always eager to learn and adapt to new technologies quickly."
  />
  <DarkCard>
    <div class="skills">
      {skillsData.map((skill) => <Skill name={skill.name} img={skill.img} />)}

      <div class="experience">
        <h3>{experience}+ Years of Experience</h3>
        <p>SINCE 2021</p>
      </div>
    </div>
  </DarkCard>
</section>

<style lang="scss">
  @use "@/styles/abstract" as *;
  .skills-container {
    margin: 5rem 0 10rem;

    .skills {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 3rem;
    }
    .experience {
      width: 100%;
      margin-top: 4rem;
      background-image: linear-gradient(
        to right,
        $light-bg 70%,
        rgba(255, 255, 255, 0) 0%
      );
      background-position: top;
      background-size: 30px 2px;
      background-repeat: repeat-x;
      padding: 4rem;

      @include responsive(smartphone-landscape) {
        padding: 4rem 2rem;
      }

      h3 {
        font-size: 4rem;
        text-align: center;

        @include responsive(smartphone-landscape) {
          font-size: 2.5rem;
        }
      }
      p {
        text-align: center;
        margin-top: 0.5rem;
        font-weight: 900;
        letter-spacing: 1rem;
        line-height: 1.7rem;
        @include responsive(smartphone-landscape) {
          font-size: 0.7rem;
          letter-spacing: 0.5rem;
        }
      }
    }
  }
</style>
<script>
  import { parallaxAnimation } from "@/utils/animations";
  import gsap from "gsap";
  import ScrollTrigger from "gsap/src/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const skillAnim = gsap.timeline({
    scrollTrigger: {
      trigger: "#skills",
      // markers: true,
      start: "top 70%",
      end: "bottom bottom",
      scrub: 1,
      once: true,
    },
  });

  skillAnim
    .from("#skills .title", {
      opacity: 0,
      y: -30,
      duration: 1,
      ease: "power4.out",
    })
    .from("#skills .dark-card", {
      opacity: 0,
      y: 50,
      duration: 2,
      ease: "power4.out",
    })
    .from(
      "#skills .skill-box",
      {
        y: 20,
        opacity: 0,
        stagger: 0.1,
        duration: 2,
        ease: "power4.out",
      },
      "<"
    )
    .from("#skills .experience", {
      opacity: 0,
      y: 50,
      duration: 1,
      ease: "power4.out",
    });

  const skillBoxes = document.querySelectorAll(
    ".skill-box"
  ) as NodeListOf<HTMLDivElement>;

  skillBoxes.forEach((box) => {
    const child = box.querySelector(".skill") as HTMLDivElement;

    parallaxAnimation({
      child,
      container: box,
      movement: 10,
    });
  });
</script>
