---
import htmlImg from "@/assets/icons/Html.jpg";
import CSSImg from "@/assets/icons/CSS.png";
import FigmaImg from "@/assets/icons/Figma.png";
import AstroImg from "@/assets/icons/Astro.png";
import JavascriptImg from "@/assets/icons/Javascript.png";
import NextJsImg from "@/assets/icons/NextJs.png";
import ReactJsImg from "@/assets/icons/ReactJs.png";
import StripeImg from "@/assets/icons/Stripe.png";
import TypescriptImg from "@/assets/icons/typescript.png";
import NodeImg from "@/assets/icons/Node.png";
import githubImg from "@/assets/icons/github.png";
import ViteImg from "@/assets/icons/Vite.png";
import JestImg from "@/assets/icons/Jest.png";
import CypressImg from "@/assets/icons/Cypress.png";
import ReduxImg from "@/assets/icons/Redux.png";
import MJMLImg from "@/assets/icons/MJML.png";
import GSAPImg from "@/assets/icons/GSAP.png";
import SASSImg from "@/assets/icons/SASS.png";

import Skill from "./Skill.astro";
import Title from "@/components/core/Title.astro";

const skillsData = [
  { name: "HTML", img: htmlImg },
  { name: "CSS", img: CSSImg },
  { name: "JavaScript", img: JavascriptImg },
  { name: "TypeScript", img: TypescriptImg },
  { name: "ReactJs", img: ReactJsImg },
  { name: "NextJs", img: NextJsImg },
  { name: "Astro", img: AstroImg },
  { name: "NodeJs", img: NodeImg },
  { name: "Github", img: githubImg },
  { name: "MJML", img: MJMLImg },
  { name: "Redux", img: ReduxImg },
  { name: "Vitest", img: ViteImg },
  { name: "Jest", img: JestImg },
  { name: "Cypress", img: CypressImg },
  { name: "Stripe", img: StripeImg },
  { name: "GSAP", img: GSAPImg },
  { name: "SASS", img: SASSImg },
  { name: "Figma", img: FigmaImg },
];

// Primary Skills:
// HTML, CSS, JavaScript, Typescript, NodeJs, GitHub

// Frameworks & Tools:
// ReactJS, NextJS, Astro, Vite, React Router, Tanstack Table, Tanstack Query, MJML, React Hook Form, Mantine UI, Redux, GSAP, SASS, CSS in JS.

// Testing:
// React Testing Libary, Jest, Vitest, Cypress

// Deployment:
// AWS Amplify, GitHub Actions

const currentYear = new Date().getFullYear();
const currentMonth = new Date().getMonth() + 1;
const experience = currentYear - 2021 - (currentMonth < 6 ? 1 : 0);
---

<section id="skills" class="skills-container">
  <Title
    name="Skills & Experience"
    desc="Here is a list of skills that I am proeffecient in, and I also have the ability to pick up a new skill and be good at it in a very less time."
  />
  <div class="skills">
    {skillsData.map((skill) => <Skill name={skill.name} img={skill.img} />)}
  </div>
  <div class="experience">
    <h3>{experience}+ Years of Experience</h3>
    <p>SINCE 2021</p>
  </div>
</section>

<style lang="scss">
  @use "@/styles/abstract" as *;
  .skills-container {
    margin: 5rem 0 10rem;

    .skills {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }
    .experience {
      margin-top: 3rem;
      padding: 4rem;
      border-radius: 1rem;
      background: $dark-text;
      color: $light-bg;

      @include responsive(smartphone-landscape) {
        padding: 4rem 2rem;
      }

      h3 {
        font-size: 3rem;
        text-align: center;

        @include responsive(smartphone-landscape) {
          font-size: 2.5rem;
        }
      }
      p {
        text-align: center;
        margin-top: 0.5rem;
        font-weight: 900;
        letter-spacing: 1rem;
        line-height: 1.7rem;
        @include responsive(smartphone-landscape) {
          font-size: 0.7rem;
          letter-spacing: 0.5rem;
        }
      }
    }
  }
</style>
<script>
  import { parallaxIt, resetParallax } from "@/utils/animations";
  import gsap from "gsap";
  import ScrollTrigger from "gsap/src/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const skillAnim = gsap.timeline({
    scrollTrigger: {
      trigger: "#skills",
      // markers: true,
      start: "top 70%",
      end: "bottom bottom",
      scrub: 1,
      once: true,
    },
  });

  skillAnim
    .from("#skills .title-container", {
      opacity: 0,
      y: -30,
      duration: 1,
      ease: "power4.out",
    })
    .from(
      ".skill-box",
      {
        y: 20,
        opacity: 0,
        stagger: 0.05,
      },
      "<"
    )
    .from(".experience", {
      opacity: 0,
      x: -200,
      ease: "power4.in",
    });

  const skillBoxes = document.querySelectorAll(
    ".skill-box"
  ) as NodeListOf<HTMLDivElement>;

  skillBoxes.forEach((box) => {
    const child = box.querySelector(".skill") as HTMLDivElement;

    box.addEventListener("mouseleave", (e) => {
      resetParallax(e.currentTarget as HTMLDivElement, child);
    });
    box.addEventListener("mousemove", (e) => {
      e.currentTarget &&
        parallaxIt({
          e: e,
          child: child,
          container: e.currentTarget as HTMLDivElement,
          movement: 5,
        });
    });
  });
</script>
