---
import DarkCard from "./core/DarkCard.astro";
import Title from "./core/Title.astro";
---

<section id="contact">
  <Title name="Contact" desc="Reach out to me!" />
  <DarkCard>
    <div class="contact-card">
      <h3>Say Hello!</h3>
      <div class="contact-desc">
        <a href="mailto:saurabhsutar192@gmail.com">saurabhsutar192@gmail.com</a>
        <p>+91-9405480824</p>
      </div>
    </div>
  </DarkCard>
</section>
<style lang="scss">
  @use "@/styles/abstract" as *;

  #contact {
    margin-bottom: 10rem;
    .contact-card {
      padding: 4rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      align-items: center;

      h3 {
        font-size: 8rem;
        text-align: center;
        white-space: nowrap;

        @include responsive(laptop) {
          font-size: 6rem;
        }

        @include responsive(tablet) {
          font-size: 5rem;
        }

        @include responsive(smartphone-landscape) {
          font-size: 4rem;
        }
      }
      .contact-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;

        a,
        p {
          white-space: nowrap;
          color: $light-bg;
          @include responsive(smartphone-landscape) {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
</style>
<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/src/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const contactAnim = gsap.timeline({
    scrollTrigger: {
      trigger: "#contact",
      //   markers: true,
      start: "top 70%",
      end: "bottom bottom",
      scrub: 1,
      once: true,
    },
  });

  contactAnim
    .from("#contact .title", {
      opacity: 0,
      y: -30,
      duration: 1,
      ease: "power4.out",
    })
    .from("#contact .dark-card", {
      x: -200,
      opacity: 0,
      ease: "power4.in",
    });
</script>
