---
import Navbar from "./Navbar.astro";
import { Image } from "astro:assets";
import myImage from "../assets/saurabh.png";
---

<div class="container">
  <Navbar />
  <main>
    <div class="image-container">
      <h4 class="hey">Hey,</h4>
      <h4 class="there">there<span>!</span></h4>
      <Image src={myImage} alt="Saurabh" />
      <div class="gradient-block"></div>
      <div class="name">
        <h4 class="im">I,m</h4>
        <h4>Saurabh</h4>
      </div>
    </div>

    <div class="role">
      <h4>Frontend</h4>
      <h4>Developer</h4>
    </div>
  </main>
</div>

<style lang="scss">
  @use "../styles/abstract" as *;

  .container {
    main {
      height: calc(100% - 150px);
      align-items: center;
      position: relative;
      background: url("../assets/plant.svg") no-repeat center;

      .image-container {
        padding: 0 50px 0;
        position: relative;

        @include responsive(smartphone-portrait) {
          padding: 0;
        }

        .hey,
        .there {
          font-family: "Great Vibes", serif;
          font-size: 10rem;
          font-weight: 300;
          position: absolute;
          top: 6rem;
          z-index: 0;
          color: $light-text;
          @include responsive(tablet) {
            font-size: 7rem;
            top: 8rem;
          }
          @include responsive(smartphone-landscape) {
            font-size: 6rem;
            top: 7rem;
          }
          @include responsive(520px) {
            font-size: max(15vw, 56px);
          }
        }
        .hey {
          right: 58%;
          @include responsive(tablet) {
            right: 61%;
          }
        }
        .there {
          left: 58%;
          white-space: nowrap;

          @include responsive(tablet) {
            left: 61%;
          }
          span {
            color: $primary-accent;
          }
        }
        img {
          position: relative;
          height: 35rem;
          min-width: 250px;
          width: 100%;
          object-fit: contain;
          z-index: 1;

          @include responsive(smartphone-landscape) {
            height: 30rem;
          }
        }

        .gradient-block {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          z-index: 2;
          background: rgb(255, 252, 242);
          background: linear-gradient(
            0deg,
            rgba(255, 252, 242, 1) 40%,
            rgba(255, 255, 255, 0) 100%
          );
          height: 9rem;
        }
      }
      .name {
        position: absolute;
        font-size: 7.5rem;
        font-weight: 900;
        line-height: 7.5rem;
        bottom: 0;
        left: 0;
        z-index: 3;

        @include responsive(laptop) {
          font-size: 7rem;
          line-height: 7rem;
        }

        @include responsive(smartphone-portrait) {
          font-size: 4.5rem;
          line-height: 4.5rem;
        }
        .im {
          font-size: 4rem;
          line-height: 4rem;
          @include responsive(laptop) {
            font-size: 3.5rem;
            line-height: 3.5rem;
          }
          @include responsive(smartphone-portrait) {
            font-size: 2rem;
            line-height: 2rem;
          }
        }
      }
      .role {
        position: absolute;
        right: 0;
        bottom: 20px;
        font-size: 3rem;
        line-height: 3rem;
        z-index: 3;
        @include responsive(laptop) {
          font-size: 2.5rem;
        }

        @include responsive(tablet) {
          position: static;
          display: flex;
          gap: 1rem;
        }

        @include responsive(smartphone-landscape) {
          font-size: 2rem;
        }
        h4 {
          font-weight: 300;
        }
      }
    }
  }
</style>
