<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Saurabh's Portfolio</title>
  </head>
  <body>
    <div class="layout">
      <div class="container">
        <slot />
      </div>
    </div>
  </body>
</html>

<style lang="scss">
  @use "../styles/abstract" as *;

  .layout {
    .container {
      max-width: $max-width;
      margin: 0 auto;
      padding: 0 60px;
      color: $dark-text;

      @include responsive(tablet) {
        padding: 0 30px;
      }
      @include responsive(smartphone-portrait) {
        padding: 0 10px;
      }
    }
  }
</style>
